
  .thumbnail {
    position: relative;
   }
   .caption {
    position: absolute;
    top: 35%;
    left: 119px;
    width: 67%;
    color: white;
   }
   @media (max-width: 900px){
    .displayNone900{
      display: none;

     }
   }

   @media (max-width: 1200px){
   .descubre{
    display:none;

    }
  }

  @media (max-width: 900px){
    #barra{
     display:none;
 
     }
   }